.navbar
{
    padding: 15px 0 0 0;
}

.actions
{
    vertical-align: middle !important;
    width: 7%;
}

.actions .btn
{
    padding: 0 5px;
}

.actions .btn,
.actions-user .btn
{
    color: black;
}

.actions-user .btn
{
    padding: 0 1px;
}

.actions-user form:first-child + form .btn
{
    padding: 0 5px 0 5px;
}

.control-group .controls label.checkbox
{
    display: inline-block;
}

*,
input,
button,
select,
textarea
{
    font-family: Arial, sans-serif;
}

.btn:focus
{
    outline: none;
}

.btn:hover
{
    text-decoration: none;
}

::-moz-placeholder
{
    font-style: italic;
}

:-moz-placeholder
{
    font-style: italic;
}

:-ms-input-placeholder
{
    font-style: italic;
}

::-webkit-input-placeholder
{
    font-style: italic;
}

.comment-box
{
    border: 1px solid #ccc;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.comment-box table
{
    margin-bottom: 0;
}

.comment-box table tr:first-child td
{
    border-top: 0;
}

ul.nav.nav-tabs
{
    margin: 0;
    border-bottom: 0;
    position: relative;
}

ul.nav.nav-tabs li.active a
{
    border-color: #ccc;
    border-bottom-color: transparent;
}

.well .controls
{
    display: inline-block;
    width: 200px;
}

.well .control-group label.checkbox
{
    display: block;
}

button i
{
    color: black;
}

#options-label .lead i
{
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
}

#options-label .lead .muted
{
    font-size: 50%;
    vertical-align: middle;
}

.feedback-header-subtext
{
    margin-left: 5%;
}

#feedback-form table td
{
    vertical-align: middle;
}

#feedback-form table tr th
{
    font-size: 14px;
}

#feedback-form table th
{
    font-size: 20px;
}

#feedback-form input[type="radio"]
{
    margin: 0;
}

#agreements .span12 .control-group
{
    margin-bottom: 0;
}

#options
{
    display: none;
}

.report-chart
{
    height: 500px;
}

.logo
{
    width: 24px;
    margin-top: -2px;
}

#role-list .controls ~ .controls,
#competency-list .controls ~ .controls
{
    margin-top: 5px;
}

.container.login
{
    margin-top: 35px;
}

.container.login .row
{
    margin-left: 0;
}

.container.login .control-label
{
    font-weight: bold;
}

.container.login h2
{
    text-align: center;
}

.container.login .form-vertical
{
    background-color: #eaf2ff;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 250px;
    margin: 0 auto;
}

.container.login .form-vertical.reset
{
    width: 265px;
}

.container.login .checkbox
{
    display: block !important;
}

#competencies tr td:first-child
{
    width: 20%;
}

#competencies tr td:first-child + td
{
    width: 58%;
}

#competencies .actions .btn
{
    padding: 0 4px;
}

.graph-tooltip
{
    padding: 5px;
}

.round-creation-field .control-label
{
    width: 300px;
    margin-right: 15px;
}

#field-info
{
    display: none;
}

#report-field-info
{
    display: none;
}

.review-info
{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    word-break: break-word;
}

.review-comments
{
    margin-left: 10px;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    padding-left: 15px;
}

.review-div
{
    margin-bottom: 35px;
}

.smile-default,
.smile-active,
.meh-default,
.meh-active
{
    width: 40px;
    height: 40px;
    display: inline-block;
}

.smile-default
{
    background: url('../images/smile_default.png') no-repeat top left;
}

.smile-active
{
    background: url('../images/smile_active.png') no-repeat top left;
}

.meh-default
{
    background: url('../images/meh_default.png') no-repeat top left;
}

.meh-active
{
    background: url('../images/meh_active.png') no-repeat top left;
}

.no-competencies-box
{
    display: none;
}

#info-message-modal .modal-body
{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.info-message-pre
{
    white-space: pre;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.info-message-pre h2
{
    text-align: left !important;
}

.meeting-inputs
{
    display: none;
}

.no-left-margin
{
    margin-left: 0 !important;
}

.required
{
    color: red;
}

.own-review-row
{
    margin-bottom: 25px;
}

#feedback-overview td,
#own-review-table td
{
    width: 20%;
}

#own-review-table td:first-child
{
    width: 60%;
}

#review-competencies-button
{
    padding-left: 0;
}

@font-face
{
    font-family: ArchitectsDaughter;
    src: url(../fonts/ArchitectsDaughter.ttf) format('truetype');
}

.dashboard-quote
{
    margin-bottom: 25px;
}

.dashboard-quote span
{
    font-size: 150%;
    font-family: ArchitectsDaughter, Arial, sans-serif;
}

.review-row-name
{
    padding-left: 20px;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

