.navbar
{
    padding: 15px 0 0 0;
}

.actions form
{
    float: left;
    margin: 0;
}

.actions
{
    vertical-align: middle !important;
}

.actions form .btn
{
    padding: 0 5px;
}

.actions-user form
{
    float: left;
    margin: 0;
}

.actions-user form .btn
{
    padding: 0 1px;
}

.actions-user form:first-child + form .btn
{
    padding: 0 5px 0 5px;
}

.control-group .controls label.checkbox
{
    display: inline-block;
}

*,
input,
button,
select,
textarea
{
    font-family: Arial, sans-serif;
}

.btn:hover
{
    text-decoration: none;
}

::-moz-placeholder
{
    font-style: italic;
}

:-moz-placeholder
{
    font-style: italic;
}

:-ms-input-placeholder
{
    font-style: italic;
}

::-webkit-input-placeholder
{
    font-style: italic;
}

.comment-box
{
    border: 1px solid #ccc;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.comment-box table
{
    margin-bottom: 0;
}

ul.nav.nav-tabs
{
    margin: 0;
}

.well .controls
{
    display: inline-block;
    width: 200px;
}

.well .control-group label.checkbox
{
    display: block;
}

button i
{
    color:black;
}

#options-label .lead i
{
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
}

#options-label .lead .muted
{
    font-size: 50%;
    vertical-align: middle;
}

#feedback-form table td
{
    vertical-align: middle;
}

#feedback-form table td ~ td
{
    text-align: center;
}

#feedback-form table tr td:first-child
{
    width: 20%;
}

#feedback-form table tr th
{
    font-size:14px;
}

#feedback-form table tr td:last-child
{
    width: 27.5%;
}

#feedback-form table th
{
    font-size: 20px;
    text-align: center;
}

#feedback-form input[type="radio"]
{
    margin: 0;
}

#options
{
    display: none;
}

.report-chart
{
    height: 500px;
}

.logo
{
    width: 24px;
}

#role-list .controls ~ .controls,
#competency-list .controls ~ .controls
{
    margin-top: 5px;
}

.container.login
{
    margin-top: 35px;
    max-width: 300px;
}

.container.login .row
{
    margin-left: 0;
}

.container.login .control-label
{
    font-weight: bold;
}

.container.login h2
{
    text-align: center;
}

.container.login .form-vertical
{
    background-color: #eaf2ff;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 250px;
    margin: 0 auto;
}

.container.login .checkbox
{
    display: block !important;
}

.skip-button
{
    width:140px;
    margin-left: auto;
}

#competencies tr td:first-child + td
{
    width: 60%;
}
