.actions form
{
    float: left;
    margin: 0px;
}

.actions form .btn
{
    padding: 0px 5px;
}

.actionsUser form
{
    float: left;
    margin: 0px;
}

.actionsUser form .btn
{
    padding: 0px 1px;
}

.control-group .controls label.checkbox
{
    display: inline-block;
}

*,
input,
button,
select,
textarea
{
    font-family: Arial, sans-serif;
}

::-moz-placeholder
{
    font-style: italic;
}

:-moz-placeholder
{
    font-style: italic;
}

:-ms-input-placeholder
{
    font-style: italic;
}

::-webkit-input-placeholder
{
    font-style: italic;
}

.commentBox
{
    border: 1px solid #ccc;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.commentBox table
{
    margin-bottom: 0;
}

ul.nav.nav-tabs a
{
    font-size: 9px;
}

ul.nav.nav-tabs
{
    margin: 0;
}

.well .controls
{
    display: inline-block;
    width: 200px;
}

.well .control-group label.checkbox
{
    display: block;
}

#optionsLabel .lead i
{
    vertical-align: baseline;
    margin-left: 5px;
}

#optionsLabel .lead .muted
{
    font-size: 50%;
    vertical-align: top;
}

#feedbackForm table td
{
    vertical-align: middle;
}

#feedbackForm table td ~ td
{
    text-align: center;
}

#feedbackForm table tr td:first-child
{
    width: 250px;
}

#feedbackForm table tr td:last-child
{
    width: 27.5%;
}

#feedbackForm table th
{
    font-size: 20px;
    text-align: center;
}

#feedbackForm input[type="radio"]
{
    margin: 0px;
}

#options
{
    display: none;
}

.reportChart
{
    height: 500px;
}

.logo
{
    width: 20px;
}

#roleList a,
#competencyList a
{
    margin-left: 5px;
}

#roleList .controls,
#competencyList .controls
{
    margin-top: 5px;
}