<?php

error_reporting(E_ALL ^ E_NOTICE);

define('SUB_DIR', '/yoursubdir/');

define('DB_HOST', 'yourhost.com');
define('DB_NAME', 'yourdatabase');
define('DB_USERNAME', 'youruser');
define('DB_PASSWORD', 'yourpass');
define('CONNECTION', 'mysql:host=' . DB_HOST . ';dbname=' . DB_NAME);

define('APP_NAME', 'yourappname');
