<?php

error_reporting(-1);

define('SUB_DIR', '/');

define('DB_HOST', 'yourhost.com');
define('DB_NAME', 'yourdatabase');
define('DB_USERNAME', 'youruser');
define('DB_PASSWORD', 'yourpass');
define('CONNECTION', 'mysql:host=' . DB_HOST . ';dbname=' . DB_NAME);

define('APP_NAME', 'yourappname');

define('ADMIN_EMAIL', 'admin@yourhost.com');
define('ERROR_MAIL', 'error@yourhost.com');

$transport = Swift_MailTransport::newInstance();
$mailer = Swift_Mailer::newInstance($transport);
